# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Editors
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Node / Eleventy
node_modules/
_site/
.cache/

# Cloudflare Pages Functions / Wrangler
.wrangler/
.dev.vars



.dev.vars*
!.dev.vars.example
.env*
!.env.example
